<div id="tab_plugin_fazenda3d" class="container">
  <h3>Configuração do Servidor da Fazenda 3D</h3>

  <div class="control-group">
    <label>URL do Servidor</label>
    <input type="text" class="input-block-level" data-bind="value: servidor_url">
  </div>

  <div class="control-group">
    <label>Token</label>
    <input type="text" class="input-block-level" data-bind="value: token">
  </div>
  
  <button class="btn btn-primary" data-bind="click: connectToServer">
    Conectar ao Servidor
  </button>

  <br>
  
  <p>Status: <span data-bind="text: connectionStatus"></span></p>

</div>
